body{
  background-image: url(../images/boiler.jpg);

  background-size: cover;
  color: #ffffff;
}
.element{
  cursor: pointer;
  position: absolute;
  font-size: 14pt;
}

#resultBlock{
  text-align: center;
  position: relative;
  top: 600px;
  height: 100px;
  font-size: 24pt;
}